<!DOCTYPE html>
<html>
<head>
  <title>RockPaperScissors</title>
  <link rel="stylesheet" href="assets/stylesheets/bootstrap.css">
  <link rel="stylesheet" href="assets/stylesheets/styles.css">
</head>
<body>

  <form action="rock">
    <h1>Rock-paper-scissors</h1>
    <p>Rock-paper-scissors or Scissor-Paper-Rock, is a zero-sum hand game usually played between two people, in which each player simultaneously forms one of three shapes with an outstretched hand.
    </p>
    <P>These shapes are "rock" (✊ a simple fist), "paper" (✋ a flat hand), and "scissors" (✌️ a fist with the index and middle fingers together forming a V).
    </P>
    <P>The game has only three possible outcomes other than a tie: a player who decides to play rock will beat another player who has chosen scissors ("rock crushes scissors") but will lose to one who has played paper ("paper covers rock"); a play of paper will lose to a play of scissors ("scissors cut paper"). If both players choose the same shape, the game is tied and is usually immediately replayed to break the tie.
    </p>
    <input type="submit" value="Play" class="btn btn-primary btn1">
  </form>
</body>
</html>
